{% extends "base.html" %}

{% block title %}File Comparison Tool{% endblock %}

{% block content %}
    <h1 class="text-center">File Comparison Tool</h1>
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('compare_files') }}">Compare two files</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('compare_file_list') }}">Compare file lists</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('compare_file_hashes') }}">Compare hash lists</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('upload_ldif') }}">Compare ldif</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('helpful_scripts') }}">helpful_scripts</a>
        </li>
    </ul>
{% endblock %}
